.date .react-datepicker {
  background-color: #fff;
  font-family: inherit;
  border: 2px solid #ff74b1;
  border-radius: 8px;
}

.date .react-datepicker__header {
  border-bottom: none;
}

.date .react-datepicker__triangle {
  display: none;
}

.date .react-datepicker__header {
  padding-top: 18px;
  padding-bottom: 0;
  background-color: #efc3ff;
}

.date .react-datepicker__month {
  margin-right: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
}

.date .react-datepicker__day-names {
  margin: 8px 0;
}

.date .react-datepicker__current-month {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 600;
  margin-left: 18px;
  margin-right: 18px;
  color: #fff;
}

.date .react-datepicker__day {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0.215rem;
  color: #303030;
}

.date .react-datepicker__day:not([aria-disabled='true']):hover {
  color: #fff;
  background-color: #efc3ff;
  border-radius: 50%;
}

.date .react-datepicker__day-name {
  width: 24px;
  height: 24px;
  margin-top: 0;
  margin: 0.215rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.date .react-datepicker__navigation {
  top: 15px;
}

.date .react-datepicker__navigation--previous {
  left: 4px;
}

.date .react-datepicker__navigation--next {
  right: 4px;
}

.date .react-datepicker__day--selected {
  color: #fff;
  background-color: #ff74b1;
  border-radius: 50%;
}

.date .react-datepicker__day--keyboard-selected {
  border-radius: 50%;
  background-color: #ff74b1;
  color: inherit;
}

.date .react-datepicker__day--keyboard-selected:hover {
  background-color: #ff74b1;
}

.date .react-datepicker__day--disabled {
  color: #f7f7f7;
  background-color: #9da4bd;
  border-radius: 50%;
}

.date .react-datepicker__day--disabled:hover {
  color: #f7f7f7;
  background-color: #9da4bd;
}

.date .react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0;
  height: 7px;
  width: 7px;
  border-color: #fff;
}

.date .react-datepicker__navigation:hover *::before {
  border-color: #303030;
}

.date .react-datepicker__calendar-icon {
  fill: #9da4bd;
}

.date .react-datepicker__year-read-view {
  color: #fff;
}

.date .react-datepicker__year-dropdown--scrollable {
  background-color: #fff;
  color: #303030;
}

.date .react-datepicker__year-option--selected_year {
  background-color: rgba(255, 108, 0, 1);
  color: #fff;
}

.date .react-datepicker__year-option--disabled {
  display: none;
}

@media (max-width: 767px) {
  canvas {
    width: 100%;
    height: 200px;
  }
}
