@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-textColor;
  @apply text-sm;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #e3e4e6;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0a3844;
}
