@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-mainDarkColor;
  @apply text-sm;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #efc3ff;
}

::-webkit-scrollbar-thumb {
  background: #ff74b1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e4639f;
}
